:root {
    --color1: #f9f8ef;
    --color2: #D9D7F1;
    --color3: #FFCBCB;
    --color4: #E7FBBE;
    --color5: #191919;
    --color6: #fb9623;
    --color7: #fe6e20;
    --color8: #524c4c;
    --color9: #f0cbe7;
}